@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title.</h2>

<hr>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>We are Web Developers and we created this site to serve you. You are the reason why we wake up in the morning. People like you we want to serve with our work. Whatever you wish for, we have already implemented!
                    <br>
                    Just go on and register already!
                </p>
            </div>
        </div>
    </div>
</section>
