body {
    padding-top: 50px;
    background-color: #2E455B;
    color: white;
}

.navbar {
    color: white;
    background-color: rgba(32,48,68,1);
    box-shadow: 0px 0px 30px rgba(0,0,0,.4);
    border: none;
}

.jumbotron {
    margin-top: 30px;
    background-color: rgba(0, 0, 0, .18);
    border: 0px !important;
    border-radius: 0px !important;
    color: white;
    box-shadow: 0px 0px 30px rgba(0,0,0,.2);
}

hr, h1, h2, h3, h4, h5, label {
    color: white !important;
}

p {
    color: white;
}

hr {
    max-width: 70%;
    border-color: white;
    border-width: 1px;
}

.section .glyphicon {
    color: white;
    font-size: 2em;
}

section {
    padding: 100px 10px;
}

#about {
    background-color: rgba(0, 0, 0, .22);
    box-shadow: 0px 0px 30px rgba(0,0,0,.2);
    color: white;
    margin-bottom: 30px;
}

#services {
    background-color: rgba(0, 0, 0, 0.28);
    box-shadow: 0px 0px 30px rgba(0,0,0,.2);
    margin-bottom: 30px;
}

#contact {
    background-color: rgba(0, 0, 0, .32);
    box-shadow: 0px 0px 30px rgba(0,0,0,.2);
    margin-bottom: 30px;
}

.text-danger {
    color: white;
}

th {
    background-color: rgba(0, 0, 0, .15);
    color: white;
}

td {
    background-color: rgba(0, 0, 0, 0.1);
    color: white !important;
    border-top: 1px dashed rgba(255, 255, 255, 0.1);
}

    td.edit .glyphicon {
        padding-right: 0.5em !important;
        padding-left: 1.3em !important;
    }

p.edit .glyphicon {
    padding-right: 0.5em !important;
    padding-left: 1.3em !important;
}

p.edit a {
    color: black;
}

.form-horizontal {
    max-width: 500px;
    margin: 15px auto;
}

section .glyphicon {
    font-size: 1.5em;
}

.glyphicon-plus {
    font-size: 1.7em !important;
}

.filterbox {
    margin: 0 auto;
    width: 100%;
}

.btn a {
    color: black;
}

.btn:hover {
    color: white;
}

.pagination-container a {
    color: black;
}

a {
    color: white;
}

.spinner {
    width: 100px;
}

    .spinner input {
        text-align: right;
    }

.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}

.thumbnail-index {
    overflow: hidden;
    padding: 0px;
    border: 0px;
    height: 620px;
    margin-bottom: 2em;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0,0,0,.2);
}
.thumbnail-details {
    overflow: hidden;
    padding: 0px;
    border: 0px;
    height: 250px;
    margin-bottom: 2em;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0,0,0,.2);
}
.caption a{
    color: black;
}
div .edit {
    margin: 0px auto;
    color: black;
}
.btn-left {
    padding-right: 0.5em !important;
}
.btn-right {
    padding-right: 0.5em !important;
    padding-left: 1.3em !important;
}

.caption p,
.caption h4 {
    color: black !important;
}

.flexed {
    display: flex;
}

.albumart {
    height: 300px;
    width: auto;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.albumart2 {
    height: 350px;
    width: auto;
    border-radius: 4px;
}

.controls {
    width: 100%;
}

.text-right {
    flex: 2;
}

.tracklink {
    color: black;
}
